$header-height: 400px;
$header-height-shorter: 250px;
$photo-size: 150px;
$footer-height: 60px;

$theme-color: #383548;
$light-text-color: #FFF;
$menu-item-color: #CDCDCD;
$content-color: #333333;
$content-bg-color: #EFEFEF;