@import "../styles-lib/vars.scss";

.Blog {
	text-align: center;

	&__Content {
		display: inline-block;
		text-align: left;
	}

	&__Post {
		display: block;
		padding: 0px 0px 20px 0px;

		&#{&} {
			font-weight: normal;
		}
	}

	&__PostTitle {
		font-weight: bold;
	}
}