@import "../styles-lib/vars.scss";

@keyframes contentTextLoadingAppear {
	from { opacity: 0; }
	to { opacity: 1; }
}

.Page {
	position: relative;
	min-height: 100vh;
	font-family: 'Pridi', serif;
	background-color: $content-bg-color;

	&__Header {
		position: relative;
		height: $header-height;
		color: $light-text-color;
		font-family: 'Lato', sans-serif;
		z-index: 1;
		transition: height $header-transition-time ease-in-out;

		&--shorter {
			height: $header-height-shorter;

			.Page__HeaderPhoto {
				width: 120px;
				height: 120px;
			}

			.Page__HeaderInfoContainer {
				transform: translateY(-50%) translateY(-20px);
			}
		}
	}

	&__HeaderBanner,
	&__HeaderOverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__HeaderInfoContainer {
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateY(-25px);
		left: 0;
		width: 100%;
		text-align: center;
		padding: 10px;
		transition: transform $header-transition-time linear;
	}

	&__HeaderBanner {
		background-image: url('../../assets/images/banner.jpg');
		background-position: center;
		background-size: cover;
	}
	
	&__HeaderOverlay {
		background: rgba(0, 0, 0, 0.45);
	}

	&__HeaderPhoto {
		width: $photo-size;
		height: $photo-size;
		border-radius: 50%;
		background-image: url('../../assets/images/photo.jpg');
		background-position: center;
		background-size: cover;
		margin: 0 auto 10px auto;
		transition: width $header-transition-time linear,
			height $header-transition-time linear;
	}

	&__HeaderName {
		font-size: 23px;
		margin-bottom: 10px;
	}

	&__HeaderDescription {
		font-size: 18px;
	}

	&__MenuLink {
		color: $menu-item-color;
		transition: color $menu-transition-time ease-in-out;

		&:hover {
			color: $light-text-color;
		}
	}

	&__HeaderMenu {
		position: absolute;
		bottom: 0;
		width: 100%;
		font-size: 19px;
		text-align: center;
	}

	&__MenuItem {
		display: inline-block;
		position: relative;
		margin: 0px 1.5vw 0px 1.5vw;
		padding: 15px 1vw 8px 1vw;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 3px;
			background: $light-text-color;
			opacity: 0;
			will-change: opacity;
			transition: opacity $menu-transition-time ease-in-out;
			border-radius: 1.5px;
		}

		&--active::before {
			opacity: 1;
		}

		&--active {
			color: $light-text-color;
		}
	}

	&__ContentContainer {
		position: relative;
		font-size: 19px;
		line-height: 1.6;
		color: $content-color;
		background-color: $content-bg-color;
		padding: $content-vertical-padding $content-horizontal-padding;
	}

	&__ContentLoading {
		position: absolute;
		width: 100%;
		max-width: $max-content-width;
		left: 50%;
		top: 40px;
		transform: translateX(-50%);
		animation: contentTextLoadingAppear $page-content-transition-away-time linear $page-content-transition-away-time;
		animation-fill-mode: both;
		pointer-events: none;
	}

	&__Content {
		max-width: $max-content-width;
		margin-left: auto;
		margin-right: auto;
		opacity: 1;
		transition: opacity $page-content-transition-away-time linear;

		&--loading {
			opacity: 0;
			pointer-events: none;
		}
		
		h1, h2, h3, h4, h5 {
			font-family: 'Lato', sans-serif;
			margin: 0px;
			text-align: left;
			line-height: 1.2;
		}

		h1 {
			font-size: 30px;
			padding-top: 16px;
			padding-bottom: 20px;
			text-align: center;
		}

		h2 {
			font-size: 27px;
			padding-top: 14px;
			padding-bottom: 20px;
		}

		h3 {
			font-size: 24px;
			padding-top: 12px;
			padding-bottom: 20px;
		}

		h4 {
			font-size: 21px;
			padding-top: 10px;
			padding-bottom: 20px;
		}

		h5 {
			font-size: 19px;
			padding-top: 8px;
			padding-bottom: 20px;
		}

		a {
			color: #383548;
			font-weight: bold;
		}

		p a {
			text-decoration: underline;
			text-decoration-skip: ink;
			text-decoration-color: currentColor;
		}

		> * {
			> ul,
			> div,
			> p {
				margin-top: 0px;
				margin-bottom: 20px;
			}
		}

		pre {
			margin: 0 -40px 20px -40px !important;
			padding: 40px !important;
			max-width: calc(100% + #{2 * $content-horizontal-padding});
			font-size: 15px;
		}

		p > code {
			background-color: rgba(0, 0, 0, 0.1);
			display: inline;
			padding: 0px 4px 0px 4px;
			border-radius: 2px;
			word-wrap: break-word;
		}
	}

	&__FooterSpacer {
		width: 100%;
		height: $footer-height;
	}

	&__Footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: $footer-height;
		background: $theme-color;
		color: $light-text-color;
	}

	&__FooterContent {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		transform: translateY(-50%);
	}
}