@import "../styles-lib/vars.scss";

.Portfolio {
	position: relative;
	margin-top: 20px;
	padding-bottom: 0px;
	
	&__Description {
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;

		ul {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}

	&__Point {
		display: inline-block;
		border: 2px solid $theme-color;
		margin: 3px;
		padding: 4px 6px 4px 6px;
		border-radius: 10px;
		font-weight: bold;
	}
	
	&__Group {
		padding-bottom: 40px;
	}
	
	&__Title {
		font-weight: bold;
		color: $theme-color;

		> * {
			display: inline-block;
			width: 100%;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0px;
			}
		}

		a {
			text-decoration: underline;
			text-decoration-skip: ink;
			text-decoration-color: currentColor;
		}

		.Portfolio__JobDate {
			font-weight: normal;
			font-size: 12pt;
		}
	}
	
	&__Separator {
		height: 3px;
		background-color: $theme-color;
		margin-bottom: 20px;
	}
	
	&__SeeMore {
		font-weight: bold;
		margin-top: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		position: relative;
		color: $content-bg-color;
		background-color: $theme-color;
	}
	
	@media only screen and (min-width: 550px) {
		margin-bottom: 20px;

		&::before {
			content: '';
			position: absolute;
			top: 0px;
			left: 80px;
			width: 3px;
			height: 100%;
			background-color: $theme-color;
		}

		&__Group:last-child {
			padding-bottom: 0px;
		}

		&__Title {
			width: 160px;
			float: left;
			text-align: center;
			background-color: $content-bg-color;
			position: relative;
		}

		&__JobDate {
			white-space: nowrap;
		}

		&__Description {
			overflow: auto;
			padding-top: 0px;
			padding-left: 0px;
			padding-right: 0px;
		}

		&__Separator,
		&__SeeMore {
			margin-left: 80px;
			overflow: auto;
		}
	}
}