/* pridi-300 - latin */
@font-face {
	font-family: 'Pridi';
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/pridi-v6-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Pridi Light'), local('Pridi-Light'),
		url('../assets/fonts/pridi-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../assets/fonts/pridi-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/pridi-v6-latin-300.woff') format('woff'), /* Modern Browsers */
		url('../assets/fonts/pridi-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/pridi-v6-latin-300.svg#Pridi') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Lato Regular'), local('Lato-Regular'),
		url('../assets/fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../assets/fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('../assets/fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}