<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %></title><%
			for (var asset in compilation.assets) {
				if (/\.css$/.test(asset)) {
		%>
		<link href="/<%= asset %>" rel="stylesheet"><%
				}
			}
		%>
	</head>
	<body>
		<div id="root"><%= content %></div>
	</body>
</html>